.big-box {
    position: relative;
    margin: 100px auto 500px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
  }
  
  .small-box {
    width: 100px;
    height: 100px;
  }
  
  #red {
    position: absolute;
    background-color: red;
    /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
    right: 0;
    bottom: 0;
  }
  
  #gold {
    position: fixed;
    background-color: gold;
    /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
    right: 50px;
    bottom: 50px;
  }
  
  #green {
    position: absolute;
    background-color: green;
    /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
    left: 40%;
    top: 40%;
  }
  
  #blue {
    position: relative;
    background-color: blue;
    /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
    left: 100px;
    top: 100px;
  }
  
  #pink {
    position: absolute;
    background-color: pink;
    /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
    top:0;
    left: 0;
  }